PORT=
MONGO_URI=
NODE_ENV=
AUTH_JWT_ACCESS_SECRET=
AUTH_JWT_REFRESH_SECRET=
AUTH_JWT_EXPIRES_IN=15m
AUTH_JWT_REFRESH_EXPIRES_IN=7d
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=
GEMINI_API_KEY=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
VITE_FRONTEND_URL=